body {
  font-family: Noto Sans, Segoe UI, Helvetica, sans-serif;
  font-size: 92%;
  margin: 0;
  padding: 0;
  text-align: center;
  background: #131921;
  color: #CECECE;
  min-width: 400px;
}

input, select {
  font-size: inherit;
  font-family: inherit;
}

.title, th {
  background: #2A81C9;
  color: white;
}

.title {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 20px;
}

.title > div {
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

a, a:visited {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: #919191;
}

a:hover {
  text-decoration-color: inherit;
}

a.button {
  text-decoration: none;
  display: inline-block;
  margin: 5px;
}

h1 {
  font-size: 230%;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  margin-top: 2px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}

th, td {
  border: 1px solid #27313D;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 4px;
  padding-bottom: 4px;
}

th {
  text-align: center;
  font-weight: normal;
  padding-top: 6px;
  padding-bottom: 6px;
  white-space: pre-wrap;
}

th.sortable {
  cursor: pointer;
}

.sortIcon {
  margin-left: 5px;
  background: red;
  position: relative;
  display: inline-block;
  width: 6px;
}

.sortIcon > span{
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: absolute;
  left: 0;
  bottom: 3px;
}

td {
  text-align: left;
}

td.index {
  text-align: center;
}

td.number {
  text-align: right;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  min-width: 80px;
}

td.number > span {
  display: inline-block;
  padding-left: 0.5px;
}

td.NA {
  text-align: center;
}

tr:hover {
  background: #0B0F14;
}

.grey, td.NA {
  color: #45505B;
}

.red {
  color: #FF8E16;
}
